<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Employee Page</title>
    </head>
    <body>
        <table style="width:90%;border:5px solid black;border-collapse: collapse;margin-left:5%;margin-right:5%">
          <tr style="background:lightgray">
            <th style="border:5px solid black;border-collapse: collapse;width:20%;padding:15px">Customer</th>
            <th style="border:5px solid black;border-collapse: collapse;width:50%;padding:15px">Order</th>
            <th style="border:5px solid black;border-collapse: collapse;width:20%;padding:15px">Phone Number</th>
            <th style="border:5px solid black;border-collapse: collapse;width:5%;padding:15px">Status</th>
            <th style="border:5px solid black;border-collapse: collapse;width:5%;padding:15px"></th>
          </tr> <tr>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr style="background:lightgray">
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr style="background:lightgray">
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr style="background:lightgray">
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr style="background:lightgray">
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr style="background:lightgray">
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr style="background:lightgray">
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr style="background:lightgray">
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr style="background:lightgray">
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr style="background:lightgray">
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr> <tr style="background:lightgray">
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Jill</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">Smith</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px">50</td>
            <td  style="border:5px solid black;border-collapse: collapse;padding:15px"><button name="status Update">update</button></th>
          </tr>
        </table>
    </body>
</html>
