
<html>
   <head>
      <title>Dragon Court</title>
   </head>
   <body style="background-color:red;">
        <div style="display:grid;width:100%;grid-row-gap:20px;position:absolute;top: 50%;margin-top:-85px;justify-content:center">
            <div>
                <a href="\customerLogin"><button name="customerLogin" type="submit" style="background-color:#CFD53B; border:2px solid;border-radius:5px;border-color:#D4AF37; color:#000000;height: 50px;width: 300px;font:14;">Customer Login</button></a>
            </div>  
            <form class="item" action="/guestLogin" method="post">
            <div>
                <button name="guestLogin" style="background-color:#CFD53B; border:2px solid;border-radius:5px;border-color:#D4AF37; color:#000000;height: 50px;width: 300px;font:14">Guest Login</button>
            </div>
            </form>
            <div>
                <a href="\employeeLogin"><button name="employeeLogin" style="background-color:#CFD53B; border:2px solid;border-radius:5px;border-color:#D4AF37; color:#000000;height: 50px;width: 300px;font:14">Employee Login</button></a>
            </div>    
        </div>
      <script src="test.js"></script>
    </body>
</html>